DJANGO_SECRET_KEY='django-insecure-t@*x(7+*fx$&ctm2)2n547ft-y%m3$fe@ah2d^dx2@3w8bac03'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Third party settings
OPENAI_API_KEY=